/* sheared styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* header section */
/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 35px 240px;
    gap: 50px;
}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

.logo-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.logo-title .g-pink {
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-menu a {
    text-decoration: none;
}

.menu-item {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.follow-us {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0px 20px;
}